
body{
background-color:aqua;
style: center;
}
h1{
font-family:Arial.helvetica,sans-serfi;
color:red
font-size:40px;
}
h2{
font-family: "times new roman", times, serif;
color:blue;
font-size:30px;
}
h3{
font-family: georgia,"time new roman",times,serif;
color: green;
font-size:25px;
}
p{
font-family:cursive;
color:black;
font-size:40px;
}
{
    body:
        text-align: left;
    }
